<div class="ui middle aligned center aligned stackable grid fullpage">
                <div class="one column row">
                  <div class="column">
                      <div class="ui huge segment">
                        <h2 class="ui header">Pagkakapatunay
                            <div class="sub header">
                                (Verification)
                            </div>
                        </h2>
                        <label>Kumuha ng litrato habang hawak ang isang balidong ID. <br>(Please upload a photo of you holding up a valid ID.)</label>
                        <div class="ui basic segment center aligned">
                            <video id="video" width="320" height="240" autoplay></video>
                            <canvas id="canvas" class='hide' width="320" height="240"></canvas><br>
                            <button class='ui primary button' id="snap" style='margin-top: 10px;'>Kumuha ng litrato <br> <span style='font-size: 12px;'>(Take a picture)</span></button>
                        </div>
                        <form class="ui form" action='/verify' method='post'>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="icon phone"></i>
                                    <input type="text" name="contactNumber" placeholder="09XX XXX XXXX">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="icon lock"></i>
                                    <input type="password" name="pin" placeholder="XXXX">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="icon marker"></i>
                                    <input type="text" name="streetAddress" placeholder="Street Address">
                                </div>
                            </div>
                            <div class="field">
                                    <select name="city" class="ui dropdown">
                                        <option value="">Select City</option>
                                        <option value='Caloocan, "NCR,  3rd district"'> Caloocan, "NCR,  3rd district"</option>
                                        <option value='Las Pinas, "NCR,  4th district"'> Las Pinas, "NCR,  4th district"</option>
                                        <option value='Makati, "NCR,  4th district"'> Makati, "NCR,  4th district"</option>
                                        <option value='Malabon, "NCR,  3rd district"'> Malabon, "NCR,  3rd district"</option>
                                        <option value='Mandaluyong, "NCR,  2nd district"'> Mandaluyong, "NCR,  2nd district"</option>
                                        <option value='Manila, "NCR,  City of Manila,  1st district"'> Manila, "NCR,  City of Manila,  1st district"</option>
                                        <option value='Marikina, "NCR,  2nd district"'> Marikina, "NCR,  2nd district"</option>
                                        <option value='Muntinlupa, "NCR,  4th district"'> Muntinlupa, "NCR,  4th district"</option>
                                        <option value='Navotas, "NCR,  3rd district"'> Navotas, "NCR,  3rd district"</option>
                                        <option value='Paranaque, "NCR,  4th district"'> Paranaque, "NCR,  4th district"</option>
                                        <option value='Pasay, "NCR,  4th district"'> Pasay, "NCR,  4th district"</option>
                                        <option value='Pasig, "NCR,  2nd district"'> Pasig, "NCR,  2nd district"</option>
                                        <option value='Pateros, "NCR,  4th district"'> Pateros, "NCR,  4th district"</option>
                                        <option value='Quezon City, "NCR,  2nd district"'> Quezon City, "NCR,  2nd district"</option>
                                        <option value='San Juan, "NCR,  2nd district"'> San Juan, "NCR,  2nd district"</option>
                                        <option value='Taguig, "NCR,  4th district"'> Taguig, "NCR,  4th district"</option>
                                        <option value='Valenzuela, "NCR,  3rd district"'> Valenzuela, "NCR,  3rd district"</option>
                                    </select>

                            </div>

                            <input type="submit" value="Pagtibayin (Confirm)" class='ui primary button'>
                        </form>
                    </div>
                  </div>
                </div>
              </div>
<script>
    // Grab elements, create settings, etc.
var video = document.getElementById('video');
// Get access to the camera!
if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
    // Not adding `{ audio: true }` since we only want video now
    navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
        video.src = window.URL.createObjectURL(stream);
        video.play();
    });
}
// Elements for taking the snapshot
var canvas = document.getElementById('canvas');
var context = canvas.getContext('2d');
var video = document.getElementById('video');
// Trigger photo take
document.getElementById("snap").addEventListener("click", function() {
    context.drawImage(video, 0, 0, 320, 240);
    $('#video').addClass('hide');
    $('#canvas').removeClass('hide');
});
$('.ui.dropdown').dropdown();
$('.ui.radio.checkbox')
  .checkbox()
;
</script>