<div class="ui header">Hackzilla Worker Pool
        <div class="ui basic segment right floated no margin no padding">
            <div class="ui header right aligned" style='margin-bottom: 10px;'><span style='font-size: 16px; margin-left: 2px;'></span> 12,519 Workers </div>
        </div>
        <div class="sub header">9,341 Verified</div>
        <div class="sub header">30,173 Not Verified</div>
    </div>
    <div class="ui divider"></div>
    <div class="ui cards four stackable">
        <div class="card">
            <div class="content">
                <div class="header">
                    <div class="ui header" style="margin-bottom: 0px;">
                        Mark Barrera 
                        <div class="ui label" style="">Carpenter</div>
                    </div>
                </div>
                <div class="description">
                    <i class="green check circle outline icon"></i> Verified <br>
                    <i class="icon yellow star"></i>4.5 (45 ratings)
                    <div class="sub header"><i class="icon phone" style='margin: 0;'></i>09064612583</div>
                    <div class="sub header"><i class="icon marker" style='margin: 0;'></i>Alabang, Muntinlupa City</div>
                </div>
            </div>
            <div class="ui blue bottom attached tiny button"><i class="download icon"></i>Download Documents</div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">
                    <div class="ui header" style="margin-bottom: 0px;">
                        Mark Barrera 
                        <div class="ui label" style="">Carpenter</div>
                    </div>
                </div>
                <div class="description">
                    <i class="green check circle outline icon"></i> Verified
                    <div class="sub header"><i class="icon phone" style='margin: 0;'></i>09064612583</div>
                    <div class="sub header"><i class="icon marker" style='margin: 0;'></i>Alabang, Muntinlupa City</div>
                </div>
            </div>
            <div class="ui blue bottom attached tiny button"><i class="download icon"></i>Download Documents</div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">
                    <div class="ui header" style="margin-bottom: 0px;">
                        Mark Barrera 
                        <div class="ui label" style="">Carpenter</div>
                    </div>
                </div>
                <div class="description">
                    <i class="green check circle outline icon"></i> Verified
                    <div class="sub header"><i class="icon phone" style='margin: 0;'></i>09064612583</div>
                    <div class="sub header"><i class="icon marker" style='margin: 0;'></i>Alabang, Muntinlupa City</div>
                </div>
            </div>
            <div class="ui blue bottom attached tiny button"><i class="download icon"></i>Download Documents</div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">
                    <div class="ui header" style="margin-bottom: 0px;">
                        Mark Barrera 
                        <div class="ui label" style="">Carpenter</div>
                    </div>
                </div>
                <div class="description">
                    <i class="green check circle outline icon"></i> Verified
                    <div class="sub header"><i class="icon phone" style='margin: 0;'></i>09064612583</div>
                    <div class="sub header"><i class="icon marker" style='margin: 0;'></i>Alabang, Muntinlupa City</div>
                </div>
            </div>
            <div class="ui blue bottom attached tiny button"><i class="download icon"></i>Download Documents</div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">
                    <div class="ui header" style="margin-bottom: 0px;">
                        Mark Barrera 
                        <div class="ui label" style="">Carpenter</div>
                    </div>
                </div>
                <div class="description">
                    <i class="green check circle outline icon"></i> Verified
                    <div class="sub header"><i class="icon phone" style='margin: 0;'></i>09064612583</div>
                    <div class="sub header"><i class="icon marker" style='margin: 0;'></i>Alabang, Muntinlupa City</div>
                </div>
            </div>
            <div class="ui blue bottom attached tiny button"><i class="download icon"></i>Download Documents</div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">
                    <div class="ui header" style="margin-bottom: 0px;">
                        Mark Barrera 
                        <div class="ui label" style="">Carpenter</div>
                    </div>
                </div>
                <div class="description">
                    <i class="green check circle outline icon"></i> Verified
                    <div class="sub header"><i class="icon phone" style='margin: 0;'></i>09064612583</div>
                    <div class="sub header"><i class="icon marker" style='margin: 0;'></i>Alabang, Muntinlupa City</div>
                </div>
            </div>
            <div class="ui blue bottom attached tiny button"><i class="download icon"></i>Download Documents</div>
        </div>
         <div class="card">
            <div class="content">
                <div class="header">
                    <div class="ui header" style="margin-bottom: 0px;">
                        Mark Barrera 
                        <div class="ui label" style="">Carpenter</div>
                    </div>
                </div>
                <div class="description">
                    <i class="orange close outline icon"></i> Not Verified
                    <div class="sub header"><i class="icon phone" style='margin: 0;'></i>09064612583</div>
                    <div class="sub header"><i class="icon marker" style='margin: 0;'></i>Alabang, Muntinlupa City</div>
                </div>
            </div>
            <div class="ui orange bottom attached tiny button">Follow up Verification</div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">
                    <div class="ui header" style="margin-bottom: 0px;">
                        Mark Barrera 
                        <div class="ui label" style="">Carpenter</div>
                    </div>
                </div>
                <div class="description">
                    <i class="orange close outline icon"></i> Not Verified
                    <div class="sub header"><i class="icon phone" style='margin: 0;'></i>09064612583</div>
                    <div class="sub header"><i class="icon marker" style='margin: 0;'></i>Alabang, Muntinlupa City</div>
                </div>
            </div>
            <div class="ui orange bottom attached tiny button">Follow up Verification</div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">
                    <div class="ui header" style="margin-bottom: 0px;">
                        Mark Barrera 
                        <div class="ui label" style="">Carpenter</div>
                    </div>
                </div>
                <div class="description">
                    <i class="orange close outline icon"></i> Not Verified
                    <div class="sub header"><i class="icon phone" style='margin: 0;'></i>09064612583</div>
                    <div class="sub header"><i class="icon marker" style='margin: 0;'></i>Alabang, Muntinlupa City</div>
                </div>
            </div>
            <div class="ui orange bottom attached tiny button">Follow up Verification</div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">
                    <div class="ui header" style="margin-bottom: 0px;">
                        Mark Barrera 
                        <div class="ui label" style="">Carpenter</div>
                    </div>
                </div>
                <div class="description">
                    <i class="orange close outline icon"></i> Not Verified
                    <div class="sub header"><i class="icon marker" style='margin: 0;'></i>Alabang, Muntinlupa City</div>
                </div>
            </div>
            <div class="ui orange bottom attached tiny button">Follow up Verification</div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">
                    <div class="ui header" style="margin-bottom: 0px;">
                        Mark Barrera 
                        <div class="ui label" style="">Carpenter</div>
                    </div>
                </div>
                <div class="description">
                    <i class="orange close outline icon"></i> Not Verified
                    <div class="sub header"><i class="icon phone" style='margin: 0;'></i>09064612583</div>
                    <div class="sub header"><i class="icon marker" style='margin: 0;'></i>Alabang, Muntinlupa City</div>
                </div>
            </div>
            <div class="ui orange bottom attached tiny button">Follow up Verification</div>
        </div>
    </div>