<div class="ui menu fixed borderless">
    <div class="ui container">
        <div class="left menu">
            <div class="header item">Foreman</div>
            <a href="/projects/potential" class="item">Projects</a>
            <a href="/pool" class="item">Worker Pool</a>
        </div>
        <div class="right menu">
            <a href="#" class="item">
                <i class="icon user"></i>
                Mark Basmayor
            </a>
            <a href="#" class="item">
                <i class="icon sign out"></i>
                Sign out
            </a>
        </div>
    </div>
</div>

<div class="nav-buffer"></div>