<h5 class="ui header">Projects</h5>
<div class="ui divider"></div>
<div class="ui secondary pointing menu computer only">
    <a href='/projects/potential' class="<%= 'active' if params[:active] == 'potential' %> item">Potential Projects</a>
    <a href='/projects/unfilled' class="<%= 'active' if params[:active] == 'unfilled' %> item">Unfilled Projects</a>
    <a href='/projects/under_bidding' class="<%= 'active' if params[:active] == 'under_bidding' %> item">Under Bidding Projects</a>
    <a href='/projects/granted' class="<%= 'active' if params[:active] == 'granted' %> item">Granted Projects</a>
    <a href='/projects/ongoing' class="<%= 'active' if params[:active] == 'ongoing' %> item">Ongoing Projects</a>
    <a href='/projects/finished' class="<%= 'active' if params[:active] == 'finished' %> item">Finished Projects</a>
</div>
<div class="ui selection dropdown mobile only">
    <i class="icon dropdown"></i>
    <div class="text">Potential Projects</div>
    <div class="menu">
        <a href='/projects/potential' class="item">Potential Projects</a>
        <a href='/projects/unfilled' class="item">Unfilled Projects</a>
        <a href='/projects/under_bidding' class="item">Under Bidding Projects</a>
        <a href='/projects/granted' class="item">Granted Projects</a>
        <a href='/projects/ongoing' class="item">Ongoing Projects</a>
        <a href='/projects/finished' class="item">Finished Projects</a>
    </div>
</div>