<h5 class="ui header">Project Name</h5>
<div class="ui divider"></div>
<div class="ui segment">
    <div class="ui header">Project Name
        <div class="ui basic segment right floated no margin no padding">
            <div class="ui header right aligned" style='margin-bottom: 10px;'><span style='font-size: 16px; margin-left: 2px;'>&#x20B1;</span> 10,000.00</div>
        </div>
        <div class="sub header"><i class="icon user" style='margin: 0;'></i>Employer</div>
        <div class="sub header"><i class="icon marker" style='margin: 0;'></i>Alabang, Muntinlupa City</div>
    </div>
    <div class="ui divider"></div>
    <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nisi porro in beatae eaque ratione, ad dolorem quos doloremque iure? Deleniti nam provident eligendi non minus praesentium ratione eaque dignissimos.</div>
</div>
<div class="ui divider"></div>
 <div class="ui cards four stackable">
        <div class="card">
            <div class="content">
                <div class="header">
                    <div class="ui header" style="margin-bottom: 0px;">
                        Mark Barrera 
                        <div class="ui label" style="">Carpenter</div>
                    </div>
                </div>
                <div class="description">
                    <i class="icon yellow star"></i>4.5 (45 ratings)<br> 
                    <i class="green check circle outline icon"></i> Verified
                    <div class="sub header"><i class="icon phone" style='margin: 0;'></i>09064612583</div>
                    <div class="sub header"><i class="icon marker" style='margin: 0;'></i>Alabang, Muntinlupa City</div>
                </div>
                <div class="extra content">
                </div>
            </div>
            <div class="content center aligned">
                <div class="ui star huge rating" data-rating="2"></div>
            </div>
            <div class="ui blue bottom attached tiny button"><i class="download icon"></i>Download Documents</div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">
                    <div class="ui header" style="margin-bottom: 0px;">
                        Mark Barrera 
                        <div class="ui label" style="">Carpenter</div>
                    </div>
                </div>
                <div class="description">
                    <i class="green check circle outline icon"></i> Verified
                    <div class="sub header"><i class="icon phone" style='margin: 0;'></i>09064612583</div>
                    <div class="sub header"><i class="icon marker" style='margin: 0;'></i>Alabang, Muntinlupa City</div>
                </div>
            </div>
            <div class="ui blue bottom attached tiny button"><i class="download icon"></i>Download Documents</div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">
                    <div class="ui header" style="margin-bottom: 0px;">
                        Mark Barrera 
                        <div class="ui label" style="">Carpenter</div>
                    </div>
                </div>
                <div class="description">
                    <i class="green check circle outline icon"></i> Verified
                    <div class="sub header"><i class="icon phone" style='margin: 0;'></i>09064612583</div>
                    <div class="sub header"><i class="icon marker" style='margin: 0;'></i>Alabang, Muntinlupa City</div>
                </div>
            </div>
            <div class="ui blue bottom attached tiny button"><i class="download icon"></i>Download Documents</div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">
                    <div class="ui header" style="margin-bottom: 0px;">
                        Mark Barrera 
                        <div class="ui label" style="">Carpenter</div>
                    </div>
                </div>
                <div class="description">
                    <i class="green check circle outline icon"></i> Verified
                    <div class="sub header"><i class="icon phone" style='margin: 0;'></i>09064612583</div>
                    <div class="sub header"><i class="icon marker" style='margin: 0;'></i>Alabang, Muntinlupa City</div>
                </div>
            </div>
            <div class="ui blue bottom attached tiny button"><i class="download icon"></i>Download Documents</div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">
                    <div class="ui header" style="margin-bottom: 0px;">
                        Mark Barrera 
                        <div class="ui label" style="">Carpenter</div>
                    </div>
                </div>
                <div class="description">
                    <i class="green check circle outline icon"></i> Verified
                    <div class="sub header"><i class="icon phone" style='margin: 0;'></i>09064612583</div>
                    <div class="sub header"><i class="icon marker" style='margin: 0;'></i>Alabang, Muntinlupa City</div>
                </div>
            </div>
            <div class="ui blue bottom attached tiny button"><i class="download icon"></i>Download Documents</div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">
                    <div class="ui header" style="margin-bottom: 0px;">
                        Mark Barrera 
                        <div class="ui label" style="">Carpenter</div>
                    </div>
                </div>
                <div class="description">
                    <i class="green check circle outline icon"></i> Verified
                    <div class="sub header"><i class="icon phone" style='margin: 0;'></i>09064612583</div>
                    <div class="sub header"><i class="icon marker" style='margin: 0;'></i>Alabang, Muntinlupa City</div>
                </div>
            </div>
            <div class="ui blue bottom attached tiny button"><i class="download icon"></i>Download Documents</div>
        </div>
    </div>