// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.primary{
    color: #00B1F8;
}

.secondary{
    color: #FF7C3F;
}