body {
    background-color: #f2f2f2;
}

.hide {
    display: none;
}

.computer.only {
    @media (max-width: 1024px) {
        display: none !important;
    }
}

.mobile.only {
    @media (min-width: 1024px) {
        display: none !important;
    }
}

.no.margin {
    margin: 0 !important;
}

.no.padding {
    padding: 0;
}

.nav-buffer {
    height: 60px;
}