<!DOCTYPE html>
<html>
  <head>
    <title>Foreman</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' unless params[:action] == 'verify' %>
    <div class="ui container">
      <%= yield %>
    </div>
  </body>
</html>
